---
import { KoreaMap } from "~/components/map";
import { ThemeToggle } from "~/components/navbar/theme-toggle";
import Layout from "~/layouts/layout.astro";
---

<Layout>
  <h1>Hello World!</h1>
  <KoreaMap client:only="solid-js" />
</Layout>
